*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color:#1A1933;
    
}
#panel{
    margin-top: 50px;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    background-color: #387675;
}
#ptop{
    padding: 0px 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 80vw;
    height: 100px;
    background-color: #5958B5;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color:#5F00B3;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
     background-color: #fff; 
    
    border-radius: 5px;
}

#pbottom{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    padding: 8px;
    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color:#271835;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;

}
.bubble:hover{
    background-color: #2C95C2;
    cursor: pointer;
}

video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }

  #logo{
    height: 112px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 92px;
    /* border: 2px solid red; */
    cursor: pointer;
}
  
  #logo img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    object-position: center;
}

#job {
    position: absolute;
    bottom: 197px;
    padding: 11px 22px;
    border: 3px solid #ddd;
    font-size: 17px;
    color: white;
    background-color:cadetblue;
    cursor: crosshair;
    font-style: italic;
    left: 496px;
}
#job:hover{
    background-color: #2C95C2;
}



@media  (max-width:600px) {
     #job{
        bottom: 154px;
        left: 120px;
     }
    #panel {
        overflow: hidden;
        width: 80vw;
        height: 82vh;
        border-radius: 50px;
        
    }
    #ptop{
        padding: 0px 10%;
        
        align-items: center;
    
     
    }
    .elem{
        gap: 6px;
    }
    .elem h2{
        font-weight: 400;
        font-size: 11px;
    }
    .box{
        
        font-weight: 700;
        font-size: 11px;
        padding: 10px 10px;
        
    }
    #logo{
        left: 51px;
        
    }
}